* {
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

main {
	background: #bada55;
	width: 100vw;
	height: 100vh;
}

main.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.controls {
	display: flex;
	position: absolute;
	top: 2rem;
	left: 2rem;
}

.control {
	margin-right: 1rem;
}

.control label {
	display: block;
	color: darkgreen;
	margin-bottom:.2rem;
	text-transform: uppercase;
}

.control input {
	font-size: 1.2rem;
	padding: .4rem .6rem;
	border-radius: .5rem;
	width: 3rem;
}

.count-button {
	width: 10rem;
	height: 10rem;
	background: yellow;
	border-radius: .4rem;
	border: 2px solid green;
	box-shadow: 1px 1px 4px 2px #557668;
}

.count-button:active {
	box-shadow: none ;
	box-shadow: 1px 1px 1px 1px #557668;
}

.count-button .current-count {
	font-size: 2rem;
	font-weight: bold;
	color: darkgreen;
}

/* To show content only for screen readers */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
}
